*{
	margin: 0;
	padding: 0;
}

body{
	background: #f9f9f9;
	font-family: 'Roboto', sans-serif;
	
}

.h4{ text-align:center; margin-bottom: 10px; color: #696969; font-weight: 400; }

.auto-money{ display: flex; justify-content: center; }

.game-balanc{
	font-size: 14px;
	text-align: center;
	color: #696969;
	margin-top: 5px;
}

.game-balanc-item{ 
	display: flex; 
	justify-content: center; 
	margin-bottom: 10px; 
}

.game-button-items{
	display: flex; 
	justify-content: center;
	margin-bottom: 10px;
}

.game-balanc-item img{
	height: 28px;
	margin-top: 3px;
}

.game-button + .game-button{
	margin-left: 20px;
}

.game-button button{
	width: 120px;
	height: 80px;
	margin-bottom: 5px;
	border: none;
	outline: none;
	border-radius: 7px;
}

.game-button-top{
	background-image: linear-gradient(-180deg,#fea572,#f7785f);
	box-shadow: 0 2px 8px 0 rgba(248,123,96,.45);
}

.game-button-top:active{
	background: #FBAF83;
}

.game-button-money{
	background-image: linear-gradient(-180deg,#ae6ef9,#783ddc 99%);
	box-shadow: 0 2px 8px 0 rgba(124,64,222,.4);
}

.game-button-money:active{
	background: #BA92E7;
}

.game-button-market{
	background-image: linear-gradient(-180deg,#fa6bad,#e748a3 97%);
	    box-shadow: 0 2px 8px 0 rgba(240,74,169,.45);
}

.game-button-market:active{
	background: #EC93BC;
}

.game-button button img{
	height: 100%;
}

.game-button-text{
	text-align:center;
}

.mining{
	text-align:center;
}

.mining button{
	width: 200px;
	height: 200px;
	background: #EE8208;
	outline: none;
	border: none;
	border-radius: 50%;
}

.mining button:active{
	background: #E9A558;
}

.mining button img{
	height: 60%;
}

@media screen and (max-width: 425px){
	.game-button-top{
		width: 100px !important;
    		height: 60px !important;
	}
}
